/* Product list*/

#btn-add-product {
    color: white;
    font-weight: bold;
    background-color: #5d718d;
}

.btn-view {
    color: white;
    font-weight: bold;
    background-color: #688eb4;
}

/* Edit page */
.card-header {
    background-color: #364a69;
}

.h3-edit {
    color: white;
}

.form-label {
    color: #353E46;
    font-weight: bold;
}
