/* Product list*/
#product-list {
    margin-left: 235px;
    font-size: 1.1rem;
}
@media (max-width: 1400px) {
    #product-list {
        margin-left: 100px;
       font-size: 0.9rem;
    }
    .table tbody tr td {
        font-size: 0.9rem;
    }
    .table tbody tr td a {
        font-size: 0.9rem;
    }
}
@media (min-width: 2300px) {
    #product-list {
       font-size: 1.2rem;
    }
    .table tbody tr td {
        font-size: 1.2rem;
    }
}
@media (min-width: 2980px) {
    #product-list {
       font-size: 1.4rem;
    }
    .table tbody tr td {
        font-size: 1.4rem;
    }
    .table tbody tr td a {
        font-size: 1.3rem;
    }
}

.products-card
{
    margin-left: 8px;
}

#btn-add-product {
    color: white;
    font-weight: bold;
    background-color: #5d718d;
}
@media (max-width: 1400px) {
    #btn-add-product {
        font-size: 1rem;
    }
}
@media (min-width: 2300px) {
    #btn-add-product {
        font-size: 1.3rem;
    }
}
@media (min-width: 2980px) {
    #btn-add-product {
        font-size: 1.4rem;
    }
}

.btn-edit-product {
    color: white;
    font-weight: bold;
    background-color: #688eb4;
}
@media (min-width: 2980px) {
    .btn-edit-product {
        font-size: 1.4rem;
    }
}

.btn-view {
    color: white;
    font-weight: bold;
    background-color: #688eb4;
}

/* Product detail page */
#product-detail {
    margin-left: 265px;
}
@media (min-width: 2300px) {
    #product-detail {
        margin-left: 290px;
    }
}
@media (min-width: 2980px) {
    #product-detail {
        margin-left: 320px;
        font-size: 1.4rem;
    }
}

.btn-delete-product {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #c0392b;
}
@media (min-width: 2980px) {
    .btn-delete-product {
        font-size: 1.4rem;
    }
}

/* Edit page */
#edit-product {
    margin-left: 215px;
    padding-right: 150px;
}
@media (max-width: 1400px) {
    #edit-product {
        margin-left: 100px;
    }
}
@media (min-width: 2300px) {
    #edit-product {
        margin-left: 290px;
        padding-right: 250px;
    }
}
@media (min-width: 2980px) {
    #edit-product {
        margin-left: 330px;
    }
}

.card-header {
    background-color: #364a69;
}
@media (min-width: 2980px) {
    .card-header {
        font-size: 1.6rem;
    }
}


.form-label {
    color: #353E46;
    font-weight: bold;
}


