/* Product list*/
#product-list {
    margin-left: 235px;
    font-size: 1.1rem;
}

.products-card {
    margin-left: 8px;
}

.card-header {
    background-color: #364a69;
}

.form-label {
    color: #353E46;
    font-weight: bold;
}

#btn-add-product {
    width: 180px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    background-color: #5d718d;
}

.btn-view {
    color: white;
    font-weight: bold;
    background-color: #688eb4;
    height: 40px;
    font-size: 0.8rem;
}

/* Product detail page */
#product-detail {
    margin-left: 265px;
}

.btn-edit-product {
    color: white;
    font-weight: bold;
    background-color: #688eb4;
}
.btn-delete-product {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #c0392b;
}

#edit-product {
    height: auto;
}


/* Responsive design*/
@media (max-width: 575px) {
    #product-list {
       font-size: 0.6rem;
        margin: auto;
        width: 100%;
        padding: 25px;
    }
    #product-detail {
        margin: auto;
        width: 100%;
    }

    #btn-add-product {
        width: 110px;
        font-size: 0.8rem;
        padding: 3px;
        margin: 5px 10px;

    }
    .products-card {
        margin: 0;
        padding:5px;
    }
    .card-header {
        text-align: start;
        height: 32px;
    }
    table thead th {
        font-size: 0.7rem;
    }
    table tbody td {
        font-size: 0.8rem;
    }
    table tbody td a {
        font-size: 0.6rem;
    }
    .btn-view {
        font-size: 0.6rem;
        height: 22px;
    }
    .btn-warning {
        font-size: 0.6rem;
        height: 22px;
    }
    .btn-delete {
        font-size: 0.6rem;
        height: 20px;
    }
    .bi-trash {
        font-size: 0.6rem;
    }
    .btn-edit-product {
        font-size: 0.7rem;
    }
    .btn-delete-product {
        font-size: 0.7rem;
    }
    .btn-danger {
        font-size: 0.6rem;
    }
}
