{% extends 'base.html' %}
{% load static %}

{% block title %}Edit profile{% endblock %}

{% block content %}

    {% block css %}
    	<link rel="stylesheet" href="{% static 'userprofile/account.css' %}">
    {% endblock %}

    <div class="container mx-auto mt-4" id="container-edit-profile">
        <div class="row">
            <div class="col-12">
                <h2>Edit profile</h2>
            </div>
        </div>

         <div class="row">
            <form method="POST" enctype="multipart/form-data" class="py-2">
                {% csrf_token %}  <!-- CSRF token for security -->
                   {{ form.as_p }}
                    <button type="submit" class="form-submit-btn" style="width: 150px;">Save Changes</button>
            </form>
        </div>

        <div class="row my-lg-4">
            <div class="col-12">
                <div class="text-center text-md-start">
                    <a href="{% url 'userprofile:account' %}" class="back-to-dashboard">
                        <i class="fa-solid fa-arrow-left px-3"></i>Back to account</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}