{% extends 'base.html' %}
{% load static %}

{% block title %}
	Register
{% endblock %}

{% block content %}

    {% block css %}
    	<link rel="stylesheet" href="{% static 'userprofile/account.css' %}">
    {% endblock %}

    <div class="container-register d-flex justify-content-center align-items-center mt-4" >

        <div class="row w-75 w-md-50 justify-content-center">
            <div class="col-12 col-md-10">

                <div class="text-center">
                    <h2 class="fw-bold py-2 my-4">Create an account</h2>
                </div>

                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="border py-4 rounded shadow my-form">
                    <form method="post" action="{% url 'userprofile:register' %}">
                    {% csrf_token %}

                        <!-- Username -->
                        <div class="row mb-3 px-3">
                            <label for="id_username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="id_username" name="username" required minlength="3"
                                   maxlength="150" autocomplete="username"/>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="row mb-3 px-3">
                            <label for="id_email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="id_email" name="email" required autocomplete="email"/>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="row mb-3 px-3">
                            <label for="id_password1" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="id_password1" name="password1" required minlength="8" autocomplete="new-password"/>
                                <small>Use at least 8 characters.</small>
                            </div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="row mb-3 px-3">
                            <label for="id_password2" class="col-sm-2 col-form-label">Confirm password</label>
                            <div class="col-sm-10">
                                 <input type="password" class="form-control" id="id_password2" name="password2" required autocomplete="new-password"/>
                            </div>
                        </div>

                        <!-- Terms -->
                        <div class="row mb-3 mx-3">
                            <div class="col-sm-10">
                                <div class="form-check d-flex align-items-start">
                                    <input type="checkbox"
                                           id="id_accept_terms"
                                           class="form-check-input mb-1"
                                           name="accept_terms"
                                           required />
                                    <label for="id_accept_terms"
                                           class="form-check-label span-term">
                                        I agree to the terms and conditions
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-register">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12">
                <p class="text-center mt-4">
                    Already have an account?
                    <a href="{% url 'login' %}" class="fw-bold fs-5">Sign in</a>
                </p>
            </div>
        </div>
    </div>




{% endblock %}