#task-list {
    width: 100%;
    height: 100vh;
}
#task-detail {
    width: 100%;
    height: 100vh;
}
.card-header {
    background-color: #364a69;
}
.form-label {
    color: #353E46;
    font-weight: bold;
}

#btn-add-task {
    width: 180px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    background-color: #5d718d;
}


/* resposive */
@media (max-width: 575.99px) {
    #task-list {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }
    #task-detail {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }
    #btn-add-task {
        width: 120px;
        font-size: 0.9rem;
    }
    .tasks-card {
        margin: 0;
        padding:5px;
    }


}

@media (max-width: 768px) {
    #task-list {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 0;
        height: 100vh;
    }
    #task-detail {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 0;
        height: auto;
    }
}
@media (max-width: 991px) {
    #task-list {
        font-size: 0.7rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }
}