{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block css %}
    	<link rel="stylesheet" href="{% static 'core/core.css' %}">
    {% endblock %}

    <div class="container my-xxl-5 pt-xxl-2">

            <div class="row mb-xxl-2" >
                <div class="col-12 mb-xxl-3">
                    <div class="row align-items-center">
                        <div class="col-4">
                           <div class="text-end">
                                <img src="{% static 'images/crm.png' %}" alt="crm" class="crm-img img-fluid">
                           </div>
                       </div>
                        <div class="col-6">
                            <div class="text-start">
                                <h1 class="main-h1">Welcome, Sales Manager!</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-xxl-4 px-xxl-5">
                <div class="col-12 my-auto">
                    <div class="text-center">
                        <p class="index-p py-xxl-4">Your productivity hub for managing leads, clients, and deals.</p>
                    </div>
                </div>
            </div>
            <div class="row mx-xxl-2">
                <div class="col mb-4 py-lg-4 mx-xxl-2">
                    <div class="mx-auto mb-2"><h5 class="h5-index py-3"><i class="fa-solid fa-user-plus px-3"></i>Manage Leads</h5></div>
                    <p class="p-index px-3">Effortlessly add, track, and nurture new leads. Stay in control of your sales funnel.</p>
                </div>
                <div class="col mb-4 py-lg-4 mx-xxl-1">
                    <div class="mx-auto mb-2"><h5 class="h5-index py-3"><i class="fa-solid fa-users px-2"></i>Clients & Contacts</h5></div>
                    <p class="p-index px-3">Organize clients, store notes, and quickly access key contacts.</p>
                </div>
                <div class="col mb-4 py-lg-4 mx-xxl-1">
                    <div class="mx-auto mb-2"><h5 class="h5-index py-3"><i class="fa-solid fa-list-check px-2"></i>Tasks & Calendar</h5></div>
                    <p class="p-index px-3">Stay on top of tasks, appointments, and deadlines with your integrated calendar.</p>
                </div>
                <div class="col mb-4 py-lg-4 mx-xxl-2">
                    <div class="mx-auto mb-2"><h5 class="h5-index py-3"><i class="fa-solid fa-chart-line px-2"></i>Performance Insights</h5></div>
                    <p class="p-index px-3">Analyze sales activities and track your progress with built-in dashboards.</p>
                </div>
            </div>
           <div class="row my-lg-3 align-items-center">

               <div class="col-6">
                   <div class="text-end">
                       <a href="{% url 'login' %}" class="btn btn-log pt-lg-2">
                            Login and go to Dashboard <i class="fa-solid fa-arrow-right ms-2"></i>
                        </a>
                   </div>
               </div>
               <div class="col-6">
                   <div class="text-start">
                       <img src="{% static 'images/customer-relationship-management-concept.jpg' %}" alt="crm-customer" class="crm-img img-fluid">
                   </div>
               </div>
           </div>

    </div>


{% endblock %}