
/* lead delete form*/
#lead_delete_form {
    display: inline;
}

/* Convert button */
#convert {
    text-decoration: underline;
    color: #1c4e6a;
    font-weight: bold;
    font-size: 18px;
}
#convert:hover {
    color: #387ea6;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    cursor: pointer;
}

#lead-container {
    margin-left: 235px;
    font-size: 1.1rem;
}

/* Lead detail page */
.card-title {
    background-color: #697272;
    color: white;
    border-radius: 5px;
}
.card-footer {
    background-color: #697272;
    color: white;
}

.lead-detail-table,
.lead-detail-table th,
.lead-detail-table td,
.lead-detail-table tbody,
.lead-detail-table tr {
  border: 0 !important;
}

.lead-detail-table td {
    text-align: left;
    font-size: 1rem;
}

/* Responsive design*/
@media (max-width: 575px) {
    #lead-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }
    .lead-detail-table td {
        font-size: 0.9rem;
    }

}
