
/* lead delete form*/
#lead_delete_form {
    display: inline;
}

/* Convert button */
#convert {
    text-decoration: underline;
    color: #1c4e6a;
    font-weight: bold;
    font-size: 18px;
}
#convert:hover {
    color: #387ea6;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    cursor: pointer;
}

#lead-container {
    margin-left: 235px;
    font-size: 1.1rem;
}


/* Responsive design*/
@media (max-width: 575px) {
    #lead-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }

}
