#client-container {
    margin-left: 235px;
    font-size: 1.1rem;
}


/* Responsive design*/
@media (max-width: 575px) {
    #client-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 35px;
        height: 100vh;
    }

}