#client-container {
    margin-left: 235px;
    font-size: 1.1rem;
}



/* Responsive design*/
@media (max-width: 575px) {
    #client-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
    }
    table thead th {
        font-size: 0.7rem;
    }
    table tbody td {
        font-size: 0.8rem;
    }
    table tbody td a {
        font-size: 0.6rem;
    }
}