.dashboard-p {
    font-size: 1.5rem;
}

.dashboard-card {
    border-radius: 5px;
    border: 2px solid gray;
    width: 25%;
    margin: 15px auto;
}

/* Responsive design*/
@media (max-width: 575px) {
    .dashboard-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 15px;
        height: auto;
    }
    .dashboard-card {
        height: 80px;
    }
    .dashboard-card h4 {
        font-size: 1.2rem;
    }

}
@media (max-width: 768px) {
    .dashboard-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 15px;
        height: auto;
    }
    .dashboard-card {
        height: 80px;
    }
    .dashboard-card h4 {
        font-size: 1.2rem;
    }
}

