.dashboard-p {
    font-size: 1.5rem;
}
.dashboard-card {
    border-radius: 5px;
    border: 2px solid gray;
    width: 50%;
    margin: 15px auto;
}

/* Responsive design*/
@media (max-width: 575px) {
    .dashboard-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 15px;
        height: auto;
    }
    .dashboard-card {
        height: 80px;
    }
    .dashboard-card h4 {
        font-size: 1.2rem;
    }

}
@media (max-width: 768px) {
    .dashboard-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 15px;
        height: auto;
    }
    .dashboard-card {
        height: 80px;
    }
    .dashboard-card h4 {
        font-size: 1.2rem;
    }
}
@media (max-width: 991px) {
    .dashboard-card {
        height: 90px;
    }
    .dashboard-p {
        padding-bottom: 8px;
    }
}
@media (max-width: 1199.98px) {
    .dashboard-card {
        width: 25%;
    }
}
@media (max-width: 1399.98px) {
    .dashboard-card {
        width: 25%;
    }
}
@media (min-width:2150px) {
    .dashboard-card {
        width: 50%;
    }
    #dashboard-datetime {
        font-size: 1.5rem !important;
        padding-top: 0;
    }
    .dashboard-p {
        font-size: 2rem;
    }
}


