<!-- Offcanvas -->
 {% load static %}

<div class="offcanvas-custom" id="sidebarMenu">
    <div class="p-3">
        <div class="text-start">
            <a href="{% url 'dashboard:dashboard' %}" class="offcanvas-a">Dashboard</a>
        </div>
        <ul class="list-unstyled text-center">
            <li class="text-start">
                <a href="{% url 'lead:list' %}">
                    <i class="fa-solid fa-circle-user px-md-2"></i>Leads
                </a>
            </li>
            <li class="text-start">
                <a href="{% url 'client:list' %}">
                    <i class="fa-regular fa-circle-user px-md-2"></i>Clients
                </a>
            </li>
            <li class="text-start">
                <a href="{% url 'task:task_list' %}">
                    <i class="fa-solid fa-list-check px-md-2"></i>Tasks
                </a>
            </li>
            <li class="text-start text-nowrap">
                <a href="{% url 'product:product_list' %}">
                    <i class="bi bi-unity px-md-1"></i>Products
                </a>
            </li>
            <li class="text-start text-nowrap">
                <a href="{% url 'calendarapp:calendar' %}">
                    <i class="fa-regular fa-calendar-days px-md-1"></i>Calendar
                </a>
            </li>
        </ul>

        {% if request.user.is_authenticated %}
            <hr class="text-secondary">
            <ul class="list-unstyled">
                <li class="text-start">
                    <a href="{% url 'userprofile:account' %}">
                        <i class="bi bi-person-circle px-md-2"></i>Account</a>
                </li>

                <li class="text-start">
                    <a href="{% url 'logout' %}" class="text-danger">
                        <i class="bi bi-box-arrow-right px-md-2"></i>Logout</a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>